html,
body,
#app {
  font-size: 0.3rem;
}

#app {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular,
    Hiragino Sans GB, Microsoft Yahei, sans-serif;
  color: #3c3c3c;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.van-popup {
  background: rgba(0, 0, 0, 0.7) !important;
}

.van-dialog__content{
  background-color: #fff;
}
